
  <h2>Check for assignment codes</h2>
  <form id="search-form">
    <%= text_field_tag :search  %>
    <%= submit_tag "Search" ,:id => "submit" %>
  </form>
  <div class="results"></div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


<script type="text/javascript">


$(document).ready(function(){
  var regex = /<br\s*[\/]?>/gi;
  $("#submit").removeAttr('data-disable-with');
  $("#search-form").on('submit',function(e){
    e.preventDefault();
    if($("#search").val() == ""){
      swal(
      'Ooops...!!!',
      'You need to enter something for me to search.',
      'error'
      )
    }else{
      $.ajax({
        url: "<%= search_assignments_path %>",
        type: "get",
        data: {
          type: 'json',
          search: $("#search").val()
        },
        success: function(response){
          if(response.length == 0){
            swal(
              'No matches'
            )
          }else{
            $('.results').empty();
            $('.results').append("These are similar to you search");
            $('.results').append("<ul>");
              response.forEach(function(r){
                $('.results').append("<li><b>"+ r.code + "-></b><a href=\"#\" id=" + r.id + " class=\"link\" value=/assignments/" + r.id +">" + r.title +"</a>");
              });
              $('.results').append("</ul>");
            }
            $(".link").on('click',function(e){
              e.preventDefault();
              $.ajax({
                  url: $(this).attr("value"),
                  dataType: "json",
                  type: "get",
                  success: function(response){
                    $(".modal-title").html("<p><b>" + response["title"] + "</b></p>");
                    $(".modal-body").html(response["body"]);
                  }
                });
              $("#myModal").modal('show');
            })
          }
        });
      }
    });//search form end
})
</script>
