<div class="col-md-6">
<% if @users.nil? %>
<span>No users yet</span>
<% else %>
<h2>Listing Users</h2>
<ul>
  <% @users.each do |u| %>
  <li><%= link_to u.username , u%></li>
  <% end %>
</ul>
<% end %>
</div>

<button type="button" name="Invite" id="btn" class="btn btn-default">Invite New User</button>

<div class="col-md-6" id="form" hidden="true">
  <%= render 'users/form' %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    //$("#form").hide();
    $("#btn").click(function(){
      $("#form").show();
      $("#btn").hide();
    });

    $("#inviteForm").on('submit',function(){
      $("#form").hide();
      $("#btn").show();
    });

  });
</script>
