<p id="notice"><%= notice %></p>

<h1>Answers</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Statement</th>
      <th>Forks</th>
    </tr>
  </thead>

  <tbody>
    <% @answers.each do |answer| %>
      <tr>
        <td><%= answer.user.username %></td>
        <td><%= answer.statement %></td>
        <td><%= answer.forks.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
