<div class="col-md-8 col-md-offset-2">
  <div class="text-center">
    <h1>Search</h1>
  </div>
  <div class="text-center">
    <input type="radio" name="type" value="any" id="any">Any
    <input type="radio" name="type" value="exact" id="exact">Exact
  </div>

  <div class="form-group">
    <label for="Enter Input">Enter Input</label>
    <input type="text" value="" data-role="tagsinput" id="search" class="form-control" />
  </div>
</div>

<div id="table">
  <table id="example" class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>code</th>
        <th>body</th>
        <th>is_allowed</th>
      </tr>
    </thead>
  </table>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $("#table").hide();
    //var table = $("#example").DataTable;
    checked = "";
    $("#any").on('click',function(){
      checked = $("#any").val();
    });
    $("#exact").on('click',function(){
      checked = $("#exact").val();
    });
    $("#search").on('itemAdded itemRemoved',function(){
      if(checked != ""){
        sentTag = $("#search").val();
        $.ajax({
          url: "<%= tags_questions_path %>",
          type: "get",
          data: {
            type: 'json',
            tag_name: sentTag,
            search_type: checked
          },
          success: function(response){
            //var table = $("#example").DataTable();
            //table.clear().draw();
            $('#example').DataTable({
              data: response,
              columns: [
                { 'data' : 'title' },
                { 'data' : 'code' },
                { 'data' : 'body' },
                { 'data' : 'is_allowed' },
              ]
            });
            $("#table").show();
          }
        });
        // $('#example').DataTable( {
        //   "ajax" : {
        //     "dataSrc" : "",
        //     "url" : "<%= tags_questions_path %>",
        //     "type" : "get",
        //     "data" : {
        //       "type" : "json",
        //       "tag_name" : sentTag,
        //       "search_type" : checked
        //     }//data
        //   },//ajax
        //   "columns" : [
        //     { "response" : "title" },
        //     { "response" : "code" },
        //     { "response" : "body" },
        //     { "response" : "is_allowed" }
        //   ]
        // });
      }else{
        alert("Please select search type");
      }
    });
  });
</script>
