.top-margin{
  margin-top: 63px
}
.bottom-margin{
  margin-bottom: 10px
}
.margin-left{
  margin-left: 5px
}
.right-btn{
  margin-left: 400px
}
.padding-bottom{
  padding-bottom: 10px
}
.btn-margin{
  margin-top: 10px
}
.font{
  font-size: 40px
}
input[type=checkbox].glyphicon{
  visibility: hidden;
}
.glyphicon.glyphicon-heart::before{
  font-size: 30px;
  visibility: visible;
  content: "\e143" !important;
}
.glyphicon.glyphicon-heart:checked:before {
   font-size: 30px;
   content: "\e005" !important;
}
.right{
  padding-left: 25px
}
